/* CSS declarations go here */

/*Overall App CSS*/
body{

}
.AppContent{
    margin: 0 auto;
    width: 85%;
    padding-top: 5.5%;
}
hr{
    border: none;
    height: 1px;
    background-color: #333;
}

/*Login Page CSS*/
.LoginBackGround{
    background-color: #414141;
    height: 100vh;
}
.Login{
    background-color: whitesmoke;

    border: 10px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 7px 8px 13px 2px rgba(0,0,0,0.5);

    /*Center the inside div */
    width: 600px;
    height: 375px;
    position: fixed; /*it can be absolute too*/
    left:0; right:0;
    top:-20%; bottom:0;
    margin: auto;
    padding: 15px;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}
.Login h1 {
    text-align: center;
}
.Login p{
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: sub;
    text-align: center;
}
.Login .LoginButtons{
    margin: 0 auto;
    text-align: center;
}
.Login .LoginButtons button{
    margin: 5px;
}



/*Registration Page CSS*/
.RegistrationBackGround{
    background-color: #414141;
    height: 100vh;
}

.Registration{
    background-color: whitesmoke;

    border: 10px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 7px 8px 13px 2px rgba(0,0,0,0.5);

    /*Center the inside div */
    width: 600px;
    height: 375px;
    position: fixed; /*it can be absolute too*/
    left:0; right:0;
    top:-20%; bottom:0;
    margin: auto;
    padding: 15px;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.Registration button {
    float: right;
}

/*Nav Bar's CSS*/
.nav-sidebar h3 {
    color: whitesmoke;
    vertical-align: middle;
    display: inline;
    padding: 12px 16px;
}
.nav-sidebar {
    background-color: #414141;
    position: absolute;
    line-height: 56px;
    width: 100%;
    z-index: 999;
    list-style-type: none;
}
.nav-sidebar li{
    display: inline;
}
.nav-sidebar a{
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    padding: 18px 16px;
    text-decoration: none;
}
.nav-sidebar li a:hover{
    background-color: #202020;
}
.NavClass {
    background-color: #414141;
}

/*Mobile View CSS */
@media (max-width: 826px){
    .hidden-xs {
        display: none !important;
    }
}
@media only screen and (max-width: 826px) {
    /*Adds the Button to toggle the nav in mobile view */
    .nav-sidebar{
        display: flex;
        flex-direction: column;
    }
    .NavClass Button{
        display: inline;
        text-align: center;
        vertical-align: middle;
        background-color: #414141;
        border-color: #414141;
        color: whitesmoke;
    }
}
@media only screen and (min-width: 827px){
    .NavClass Button{
        display: none;
    }
    .AppContent{
        padding: 3%;
        padding-top: 5.5%;
        box-shadow: 0px 0px 32px 10px rgba(65,65,65,0.1);
        height: 100vh;
    }
}

/*Alert Page CSS */

.red {
    border-style: groove;
    border-width: 2px;
    border-color: red;
}
.yellow {
    border-style: groove;
    border-width: 2px;
    border-color: yellow;
}

/*Your Team's Page CSS */

.YourTeamHeader{
    display: inline-block;
    width: 100%;

}
.YourTeamHeader h3{
    float: left;
    margin: 0;
    line-height: 1.42857;
}
.YourTeamHeader button{
    float:right;
    vertical-align: middle;
}