/* CSS declarations go here */

/*Overall App CSS*/
body{

}
hr{
    border: none;
    height: 1px;
    background-color: #333;
}

/* Nav CSS */
.navbar{
    margin-bottom: 0px;
}


/*Login Page CSS*/
.LoginBackGround{
    background-image: linear-gradient(to left bottom, #414141, #393939, #313131, #292929, #212121);
    height: 100vh;
}
.Login{
    background-color: whitesmoke;
    border: 10px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 7px 8px 13px 2px rgba(0,0,0,0.5);

    /*Center the inside div */
    width: 500px;
    height: 375px;
    position: fixed; /*it can be absolute too*/
    left:0; right:0;
    top:-20%; bottom:0;
    margin: auto;
    padding: 15px;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:hidden;
}
.Login h1 {
    text-align: center;
}
.Login p{
    position: relative;
    font-size: 75%;
    text-align: center;
}
.Login #LoginButtonContainer{
    margin-top: 12.5%;
}
.Login #LoginButton {
    width: 100%;
    text-align: center;
}
.Login #password{
    float: right;
}
/*not the way this should be done */
.Login #emailAddress-error{
    font-size: 75%;
}
.Login #password-error{
    font-size: 75%;
}



/*Registration Page CSS*/
.RegistrationBackGround{
    background-image: linear-gradient(to left bottom, #414141, #393939, #313131, #292929, #212121);
    height: 100vh;
}
.Registration{
    background-color: whitesmoke;
    border: 10px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 7px 8px 13px 2px rgba(0,0,0,0.5);

    /*Center the inside div */
    width: 600px;
    height: 425px;
    position: fixed; /*it can be absolute too*/
    left:0; right:0;
    top:-20%; bottom:0;
    margin: auto;
    padding: 15px;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}
.Registration p{
    position: relative;
    font-size: 75%;
}
.Registration #SubmitButton {
    float: right;
    width: 25%;
}
.Registration #BackButton {
    float: left;
}
.Registration #emailAddress-error{
    font-size: 75%;
}
.Registration #password-error{
    font-size: 75%;
}


/*Mobile View CSS */
@media (max-width: 826px){
    .hidden-xs {
        display: none !important;
    }
}
@media only screen and (max-width: 826px) {
    /*Adds the Button to toggle the nav in mobile view */
    .nav-sidebar{
        display: flex;
        flex-direction: column;
    }
    .NavClass Button{
        display: inline;
        text-align: center;
        vertical-align: middle;
        background-color: #414141;
        border-color: #414141;
        color: whitesmoke;
    }
}
@media only screen and (min-width: 827px){
    .NavClass Button{
        display: none;
    }
}

/*Weight Entry Page CSS */
.WeightHeader{
    display: inline-block;
    width: 100%;
}
.WeightHeader h3{
    float: left;
    margin: 0;
    line-height: 1.42857;
}
.WeightHeader button{
    float:right;
    vertical-align: middle;
}

/*Master Report Page CSS */

.MasterHeader{
    display: inline-block;
    width: 100%;
}
.MasterHeader h3{
    float: left;
    margin: 0;
    line-height: 1.42857;
}
.MasterHeader button{
    float:right;
    vertical-align: middle;
}

/*Your Team's Page CSS */
.YourTeamHeader{
    margin-top: 2%;
    display: inline-block;
    width: 100%;
}
.YourTeamHeader h3{
    float: left;
    margin: 0;
    line-height: 1.42857;
}
.YourTeamHeader button{
    float:right;
    vertical-align: middle;
}
    /*CSS for the cards in Your teams */
    .card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 225px;
        height: 125px;
        position: relative;
        display: inline-block;
        margin: 0 15px 30px 15px;
        border-radius: 10px;
    }
    .card:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .card .InnerCard{
        position: relative;
        margin: 5% 7.5% 7.5%;
        padding: 7.5%;
    }
    .card a{
        text-decoration : none;
    }
    .card h4{
        color: #414141;
        vertical-align: middle;
    }
    .card p{
        color: #414141;
        vertical-align: middle;
    }
    .card #close{
        font-size: x-large;
        float: right;
        padding: 7.5px;
        z-index: 99;
        cursor: pointer;
    }
    .card #close:hover{
        color: #dd6868;
    }


/*Alerts Page CSS */
.AlertsHeader{
    display: inline-block;
    width: 100%;
}
.AlertsHeader h3{
    float: left;
    margin: 0;
    line-height: 1.42857;
}
.AlertsHeader button{
    float:right;
    vertical-align: middle;
}

.red {
    border-style: groove;
    border-width: 2px;
    border-color: red;
}
.yellow {
    border-style: groove;
    border-width: 2px;
    border-color: yellow;
}

.yellowBack {
    background-color: #ffff99;
}

.redBack {
    background-color: #ff9999;
}




/*Athlete Report CSS*/
.greenStatus {
    background-color: #99ff99;
}

.yellowStatus {
    background-color: #ffff99;
}

.redStatus {
    background-color: #ff9999;
}
