// USC specific branding colors
// Found at:
//   http://www.sc.edu/about/offices_and_divisions/communications/brand_toolbox/design_elements/colors/index.php
$usc-garnet: #73000a;
$usc-black: #000000;

// General colors
$primary: #337ab7;
$success: #5cb85c;
$info:    #5bc0de;
$warning: #f0ad4e;
$danger:  #d9534f;

$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #777;
$gray-lighter: #eee;

$facebook: #3b5998;
$google: #ea4335;
$github: $gray-dark;
