// @import '../../stylesheets/mixins';
// @import '../../stylesheets/colors';

/* Nav Bar's CSS
.nav-sidebar h3 {
    color: whitesmoke;
    vertical-align: middle;
    display: inline;
    padding: 12px 16px;
}
.nav-sidebar {
    background-color: #414141;
    position: absolute;
    line-height: 56px;
    width: 100%;
    z-index: 999;
    list-style-type: none;
}
.nav-sidebar li{
    display: inline;
}
.nav-sidebar a{
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    padding: 18px 16px;
    text-decoration: none;
}
.nav-sidebar li a:hover{
    background-color: #202020;
}
.NavClass {
    background-color: #414141;
} */

.NavClass {
  background-color: #414141;  
}
